body {
  background-color: white; 
  margin: 0px;
  cursor: default;
}

.marges {
	padding: 5px;
}

.fondBleuMarine {
	background-color: #FFF; 
}

.fondBleuVert {
	background-color: #999; 
}

.espaceGauche {
  padding-left:10px;  
}

.titre {
  color: #676767;	
  vertical-align: middle;
	font-variant: small-caps; 	
}

.emploi {
  font-size: 14px;  	
}

.date {
  font-size: 10px;  
  text-align: right;	
}

.genre { 
  text-decoration: underline;
  cursor: pointer;	
}

.choix {
  color: #FFF;
  vertical-align: middle; 
}

.signature {
  font-size: 10px;  
}

.titreRenvoi, .emploi, .recherche, .genre, .choix {
	font-weight: bold;
}

.centrer, .signature, .genre {
  text-align: center;	
}

select, .choix, .genre, .recherche {
  font-size: 12px;	 
}

select, .signature, .choix, .titre {
	font-family:  'Arial';
}

h1 {
  font-variant: small-caps;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.3;
}